
	html, body {margin: 0; height: 100%; overflow: hidden;}

	@font-face {font-family: Sensei; src:url(sensei.ttf);}

	@import url('https://fonts.googleapis.com/css?family=Arimo|Didact+Gothic');

	body {				
		margin: 0px;
		padding: 0px;
		font-family: 'Arimo', sans-serif;	
		background: #ebebeb;
	}

	h1, h2, h3, h4, h5, h6 {
		font-family: 'Didact Gothic', sans-serif;
	}
      

	@media only screen and (max-width: 768px) {
		html, body {height: auto; overflow: scroll;}
	}




/*        MAIN SECTION       ///////          //////              ///////          //////////           /////////        ///////// */





	#topbar {
		position: relative;
		background: #333;		
		top: 0px;
		height: 25px;
		width: 100%;
		margin: 0px;
		padding: 5px;
		color: white;
		text-align: center;		
	}

		#topbar p {
			margin: 0px;
			padding: 5px;
		}

		#topbar a, a:hover, a:active, a:visited, a:focus {
			color: white;	
			text-decoration: none;	
			transition: 0.3s;		
		}

		#topbar a {
			color: orange;
			transition: 0.3s;		
		}


		@keyframes mainentry {
			from{top: 600px;}
			to{top: 200px;}
		}

	#mainpool {		
		position: relative;		
		text-align: center;
		display: table;
		margin: 0 auto;
		padding: 0px;
		top: 200px;
		width: 400px;		
		max-width: 30%;
		clear: both;		
		animation: mainentry;
		animation-duration: 2s;	
	}

	
		#mainlogo {height: 300px;}



/*        SHOP SECTION       ///////          //////              ///////          //////////           /////////        ///////// */

				
				.shop {										
					top: 180px;
					max-width: 35%;
					position: absolute;
					clear: both;
					margin: 0px;
					margin-top: 0px;
					padding: 0px;
					list-style: none;

					display: -webkit-box;
					display: -moz-box;
					display: -ms-flexbox;
					display: -webkit-flex;
					display: flex;

					align-items: baseline;

					-webkit-flex-flow: row wrap;
 					justify-content: space-between;
  

				}

				#leftshop {
					float: left;
					left: 25px;
				}

				#rightshop {
					float: right;
					right: 25px;
				}

				.item {									
					height: 300px;
					width: 225px;
					margin: auto;
					margin-top: 10px;		
					margin-bottom: 10px;							
					clear: both;	
					border: 1px solid #ebebeb;	
					transition: .5s;						
				}

				.item h5 {
					position: relative;
					height: 20px;
					width: 225px;		
					text-align: center;
					margin: auto;
					top: 20px;	
					color: #333;
				}


				.item p {
					position: relative;
					color: #333;
					text-align: center;
					margin: auto;	
					padding: 0px;
					top: 80px;					
					height: 250px;
					width: 225px;									
					transition: .5s;		
					z-index: 0;								
				}

				.itemimg {	
					position: absolute;												
					height: 250px;
					width: 225px;
					transition: 0.5s;
					z-index: 1;
				}

				.item:hover .itemimg {
					opacity: 0.1;
					transition: .5s;
				}

				.item:hover {					
					border: 1px solid #333;
					transition: 1s;
				}


				footer a{					
					color: gray;
					position: fixed;
					bottom: 0px;
					right: 10px;									}
